*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: rgb(255, 0, 0);
  --color2: blue;
  --color3: white;
  --color4: gray;
  --color5: black;
  --color6: hsl(0, 0%, 86%);
  --color7: hsl(291deg 22.99% 79.35%);
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  background: rgba(0, 0, 0, 0.881);
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.to-do-title {
  background-color: #7e006c;
  color: white;
}
.heading-image {
  position: relative;
  top: 2px;
  right: 7px;
  filter: invert();
}
.bg-img {
  position: fixed; /* covers the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/bgimg.jpg");
  background-size: cover;
  background-position: top left;
  filter: blur(1px) brightness(0.5);
  z-index: -1; /* behind everything */
  /* animation: opa 1.25s ease-in-out 0s 1 ;   */
  animation: opa 1.25s ease-in-out;
  /* will-change: opacity; */
}
@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-container-div {
  width: 95%;
  min-width: 340px;
  max-width: 1000px;
  height: 95vh;
  height: 95dvh;
  min-height: 550px;
  margin: 20px auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--color3);
  box-shadow: -2px 0px 5px 6px gray;
  position: relative; /* ensures it’s above .bg */
  z-index: 1;
  text-align: center;
  border-radius: 0.8rem;
}

/* hide ::scroll bar */
.main-container-div::-webkit-scrollbar {
  display: none;
}
/* or using  */
.main-container-div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#to-do-tasks-1-1 {
  width: 96%;
  margin: auto;
  padding-bottom: 6vh;
}

.inbox-container {
  /* border: 2px solid; */
  min-height: 8vh;
  height: fit-content;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 100;
  background-color: var(--color7);
  padding: 0 0.5rem;
  gap: 0.9rem;
}

#task1-1 {
  top: 1px;
  flex-grow: 1;
  min-width: 200px;
  max-width: 700px;
  font-size: 1rem;
  border-radius: 0.7rem;
  text-align: center;
  outline: none;
}

#task1-1:focus {
  border: 2px solid orange;
  /* background-color: white; */
  outline: none;
}

#task1-1,
#add-task1-1,
#all-task-del {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
}

#add-task1-1 {
  width: fit-content;
  margin: 0;
  background-color: var(--color2);
  border-radius: 4px;
  transition: all 150ms ease-in-out 10ms;
}

#all-task-del {
  margin: 0;
  width: fit-content;
  position: static;
  background-color: var(--color1);
  transition: all 150ms ease-in-out 10ms;
}
#all-task-del img {
  width: 1rem;
  margin-right: 7px;
  position: relative;
  top: 2px;
}

#add-task1-1:hover {
  transform: scale(1.04);
  box-shadow: -2px -2px 13px -4px blue;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 9999s ease-in-out 0s; /* Hack to avoid yellow background */
}

#all-task-del:hover {
  transform: scale(1.04);
  box-shadow: -2px -2px 13px -4px red;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  background-color: rgb(238 238 238);
  padding: 1rem 0.8rem;
  border-radius: 0.7rem;
  margin: 1.2rem 0;
  box-shadow: -2px 0px 5px 2px rgba(128, 128, 128, 0.338);
  /* opacity: 0; */
  transform: translateY(-5px);
  height: fit-content;
  width: 100%;
  transition: opacity 0.3s ease, transform 0.3s ease;
  gap: 5px;
}

.task-container.show {
  opacity: 1;
  transform: translateY(0);
}

.task-container.fade-out {
  opacity: 0;
  transform: translateY(5px);
}
.task-container:hover {
  box-shadow: 0px 0px 14px 0px rgba(255, 0, 162, 0.833);
}
.text-contant {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  width: 54vw;
  font-size: 1.3rem;
  word-wrap: break-word;
  flex-grow: 1;
}

input[type="checkbox"] {
  accent-color: var(--color1);
}

.check-box {
  width: 32px;
  height: 20px;
  /* margin: 5px; */
  /* filter: hue-rotate(200deg) brightness(1.8); */
}

.delete-btn {
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  border: none;
  background: transparent;
  font-weight: 600;
}

.del-img {
  width: 1rem;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.04);
  background: rgba(119, 136, 153, 0.437);
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  background-color: white;
  width: 80%;
  min-width: 300px;
  max-width: 400px;
  padding: 1.1rem 3rem 0.1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}
#confirm-del {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
}
#confirm-del,
#cancel-btn {
  margin: 1rem;
}

#cancel-btn {
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
}
#cancel-btn:hover {
  transform: scale(1.04);
  box-shadow: -2px -2px 13px -4px blue;
  background-color: blue;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* semi-transparent gray */
  z-index: 999;
  /* just below popup */
}

.place-center {
  height: 70vh;
  place-content: center;
  font-size: 24px;
  font-weight: 700;

  font-family: "Times New Roman", Times, serif;
}
#click-here {
  font-size: 12px;
  background: #9a74dc;
  box-shadow: -2px 0px 5px 2px gray;
  margin-top: 10px;
}
/* Fade-in animation */
.fade-in {
  animation: fadeIn 0.3s ease-in forwards;
}

/* Fade-out animation */
.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}
